.Dashboard {
    position: absolute;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #191414;
    color: white;
}

.DashboardTitle>h1 {
    font-size: 10vh;
    margin: 0px;

    margin-bottom: 30px;
    margin-top: 30px;
}

