.Home {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;

    background-image: url('../assets/imgs/Live-Music-cropped.jpg');
    background-position: center;
    background-size: cover;
}

.HomeHeader {
    margin-top: 13%;

    padding: 20px;
    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    color: white;
}

.HomeTitle {
    font-size: 70px;
    color: #FFFFFF;
    margin: 0px;

    margin-bottom: 30px;
}

.HomeLogin {
    height: 47px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    
}

.HomeSpotify {
    height: 100%;
    display: flex;
    align-items: center;

    margin-right: 20px;
}

.HomeSpotify>img {
    height: 41px;
}

.HomeLoginLink {
    color: white;
}

.HomeLogin:link, .HomeLogin:visited {
    text-decoration: none !important;
    color: white;
}
