.List {
    width: 80%;
    border-radius: 10px;

    text-align: left;

    margin-bottom: 30px;
}

.ListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25vw;

    border-bottom: 2px solid white;

    padding: 5px;
}

.ListItemBttnImg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.ListItemImg {
    height: 50%;
}

.ListItemInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.ListItemTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: 13px;
}

.ListItemTop>* {
    width: 30%;

}