.Dashboard {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgb(25,20,20, 1);
    color: white;

}

.DashboardTitle {
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    min-width: 20vw;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    background-color: rgba(255,255,255,0.8);
    color: rgb(25,20,20, 1);

}

svg {
    z-index: 900;
}

.sidebar-toggle {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 999;
}

#sidebar {
    background-color: rgba(27, 28, 29, 0.9);
    overflow: hidden;
    z-index: 901;
}

.loadingPlaylist, .emptyPlaylist {
    margin-top: 20px;
}

.playlist {
    color: white;
    overflow: hidden;
}

.play {
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: solid black 1px;
}

.logoutButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.songs {
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist .song-row {
    margin: 20px 10px;
    color: rgb(194, 194, 194);
}

.playlist .row:hover {
    background-color: rgb(75, 75, 75);
    /* cursor: pointer; */
}

.playlist .song-row .name {
    color: white;
}

.links line {
    stroke: #ffffff;
    stroke-opacity: 1;
}
  
circle {
    stroke: #fff;
    stroke-width: 1.5px;

    overflow: hidden;
}

.txt {
    font-size: 30px;
}

.userInfo {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50px;
}

.userPrefs {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.sliderDiv {
    display: flex;
    border-radius: 50px;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.5);
}

.multipliersDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mult_button:hover {
    cursor: pointer
}

.genre:hover, .u_img:hover  {
    cursor: grab
}